<!-- <a href="{{ site.baseurl }}/">About</a> -->

<script type="text/javascript">
function scrollToPublications() {
	$(document.body).animate({
	    'scrollTop':   $('#research').offset().top
	}, 10000);
}
function scrollToProjects() {
	$(document.body).animate({
 	    'scrollTop':   $('#projects').offset().top
 	}, 2000);
}
function scrollToHonors() {
	$(document.body).animate({
 	    'scrollTop':   $('#Honors_Awards').offset().top
 	}, 2000);
}
function toggleAudio() {
      var audio = document.getElementById('audioPlayer');
      
      if (audio.paused) {
        audio.play();
      } else {
        audio.pause();
      }
}
</script>

<a href="#research">Publications</a>
<a href="#projects">Projects</a> 
<a href="#Honors_Awards">Honors</a>


<div id="soundIcon" style="position: relative; top: -15px; right: 600px; cursor: pointer; font-size: 24px;">
	<i class="fa fa-volume-up" onclick="toggleAudio()"></i>
	<audio id="audioPlayer" src="images/Name.mp3"></audio>
</div>
