<!-- <a href="{{ site.baseurl }}/">About</a> -->

<script type="text/javascript">
function scrollToPublications() {
	$(document.body).animate({
	    'scrollTop':   $('#research').offset().top
	}, 10000);
}
function scrollToProjects() {
	$(document.body).animate({
 	    'scrollTop':   $('#projects').offset().top
 	}, 2000);
}
function scrollToHonors() {
	$(document.body).animate({
 	    'scrollTop':   $('#Honors_Awards').offset().top
 	}, 2000);
}
</script>

<a href="#research">Publications</a>
<a href="#projects">Projects</a> 
<a href="#Honors_Awards">Honors</a>
